# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
ENV/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Node
# =========================
node_modules/
dist/
.vite/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# ML Artifacts
# =========================
mlruns/
*.pkl
*.joblib

# =========================
# Local databases
# =========================
*.sqlite
*.db
datasets/raw/
datasets/processed/